<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Type:</b>
  <%= @event.event_type %>
</p>

<p>
  <b>Cutoff date:</b>
  <%= @event.cutoff_date %>
</p>

<p>
  <b>Result:</b>
  <%= @event.result %>
</p>

<p>
  <%= link_to 'Make Forecast', new_event_forecast_path(@event) %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
